/*  CSS Document  */
/*  This file was provided as part of a weekly web design tutorial series.
	Sign-up for our newsletter, at http://codifydesign.com, to be notified
	about each new episode of Creating Web Media
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v14/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQg.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  background-color: #e8e3ca;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.3em;
  color: #3c3e14;
}
header {
  margin: 0;
  padding: 1px 0;
  background: #4b8e9c url(images/banner.jpg) no-repeat center center;
  background-size: cover;
}
header h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5em;
  letter-spacing: 10px;
  color: #fff;
  font-weight: 400;
  margin: 55px 0 30px 30px;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0 0 5px #000;
}
article {
  margin: 20px 0 0 30px;
}
article > p {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-right: 30px;
}
article::after {
  content: '';
  display: block;
  clear: both;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  margin: 0 0 8px 0;
}
p {
  margin: 0 0 1em 0;
}
/* LESS Nesting */
article aside {
  width: 33%;
  float: left;
  box-sizing: border-box;
  padding: 15px 30px 0 0;
}
article aside h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 0 0 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
article aside p {
  font-size: 0.9em;
}
article aside img {
  height: 4.4em;
  float: left;
  margin: 5px 13px 0 0;
}
