/*  This file was provided as part of a weekly web design tutorial series.
	Sign-up for our newsletter, at http://codifydesign.com, to be notified
	about each new episode of CSS Shorts  
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pattaya');

body {
	margin: 0;
	padding: 0;
	background-color: #fbf1e6;
	font-family: "Open sans", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: rgba(59, 53, 41, 1);
}

header {
	margin: 0; height: 150px; position: relative;
	background: #fed5aa url(images/banner.jpg) no-repeat 0 0;
	box-shadow: 0px 2px 10px rgba(0,0,0,.3);
	border-bottom: 1px solid #aaa; 
}

header h1 {
	font-family: 'Pattaya', sans-serif;
	font-size: 3.5em; color: #fff;
	line-height: .8em;
	padding: 0; margin: 0;
	position: absolute; bottom: 25px; left: 30px;
	text-shadow: 0px 2px 3px rgba(0,0,0,.4);
}

article { margin: 25px 35px; }
			
article p { margin: 0 0 1em 0; }

footer {
	margin: 20px 0 0 0;
	padding: 25px 35px 0 35px;
	font-size: .9em;
	border-top: 1px solid rgba(95, 87, 75, 0.3);
	color: rgba(0,0,0,.5);
}

footer a {
	color: #2b72bd;
	text-decoration: none;
	margin: 0 16px 0 0;
}

footer a:hover {
	text-decoration: underline;
}

footer br { display: none; }

footer > div:nth-child(1) a {
	margin: 0 0 0 12px;
}

footer > div:nth-child(1) a:nth-child(1) {
	margin: 0;
	float: none;
}

footer > div:nth-child(2) {
	margin: 14px 0 0 0;
	float: none;
}


@media screen and (max-width: 700px) {

	footer br { display: inline; }

	footer > div:nth-child(1) a {
		display: inline-block;
		margin: 16px 12px 0 0;
	}
}


@media screen and (max-width: 500px) {

	footer > div a {
		float: left;
		clear: left;
		margin: 16px 0 0 0;
	}

	footer > div::after {
		content: '';
		display: block;
		clear: both;
	}

	footer > div:nth-child(2) {
		margin: 24px 0 0 0;
		padding:10px 0 0 0;
		border-top: 1px solid rgba(95,87,75,.3)
	}
}












